<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
    <!-- font awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- normalize css -->
    <link rel="stylesheet" href="css/normalize.css" />
    <!-- main css -->
    <link rel="stylesheet" href="css/main.css" />
    <title>Task Manager</title>
  </head>
  <body>
    <form action="/tasks" method="post" class="task-form">
      <h4>task manager</h4>
      <div class="form-control">
        <input
          type="text"
          name="name"
          class="task-input"
          placeholder="e.g. wash dishes"
        />
        <button type="submit" class="btn submit-btn">submit</button>
      </div>
      <div class="form-alert"></div>
    </form>
    <section class="tasks-container">
      
      <div class="tasks">
        <% tasks.forEach((element)=>{ %>
          <div class="single-task  <%= element.completed===true?'task-completed':''%> ">
            <h5><span><i class="far fa-check-circle"></i></span><%= element.taskName %> </h5>
            <div class="task-links">            
            <!-- edit link -->
            <a href="/tasks/<%= element._id %>"  class="edit-link">
            <i class="fas fa-edit"></i>
            </a>
            <!-- delete btn -->
            <button type="button" class="delete-btn" data-id="<%= element._id %>">
            <i class="fas fa-trash"></i>
            </button>
            </div>
            </div>
        <% }) %>
      </div>
    </section>
    <!-- axios -->
      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
      integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="/script/browser-app.js"></script>
  </body>
</html>
