<%- include('./partials/header.ejs') %> 

<div class="container vw-100 vh-100 d-flex flex-column justify-content-center align-items-center">
    <h1>401 - UNAUTHORIZED</h1>
    <h4>Access is allowedd only for registered users.</h4>
    <h4>Go to <a href="/login">Login</a> page.</h4>
</div>

  
<%- include('./partials/footer.ejs') %>